.myUpcomingAppts{
    /* margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
    background-image: url(../../images/pills.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 300px; */

}
.apptCardInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.searchedAppts {
    margin-top: 10px;
    background-color: rgb(237, 247, 218);
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    
}
.upcomingApptCard {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(172, 202, 128)
}

.upcomingAppt {
    display: flex;
    flex-direction: row;
    height: 125px;
}
.apptCardListing {
    width: 100px;
    padding-left: 10px;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}



.apptCardButtons {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-top: 0px;
}

.apptCard {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.apptCardButtonsList {
    width: 75px;
    margin: 5px;
}

.addApptLink {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(185, 185, 243);
}

.addApptLink:hover {
    cursor: pointer;
    color: green;
}

.apptCardButtonsListNotes {
    width: 75px;
}


.apptDate, .apptTime, .apptDoctor, .apptLocation, .apptPurpose {
    width: 150px;
    margin-bottom: 5px;
}

.apptDate:hover {
    cursor: pointer;
    color: green;
}

.viewAllButton {
    margin-top: 0px;
    margin-bottom: 20px;
}



.otherNotes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.upApptEdit {
    width: 100px;
    margin-bottom: 5px;
}

.upApptEdit:hover {
    cursor: pointer;
}

.inputDate {
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 150px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 700px)

  {
       .myUpcomingApptsHeader {
          width: 500px;
          margin-right: auto;
          margin-left: auto;
      }
      .myUpcomingAppts {
          width: 100%;
      }
      .viewAllButton {
          margin-right: auto;
          margin-left: auto;
      }

      div.upcomingApptCard {
            width: 300px;
            margin-right: auto;
            margin-left: auto;
       }  

       .apptCardInfo {
           width: 300px;
       }

  }

  @media only screen and (min-width: 800px) {
      .myUpcomingAppts {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
      }
      .myUpcomingApptsHeader {
        margin-right: auto;
        margin-left: auto;

      }
      .upcomingApptCard {
        margin-right: auto;
        margin-left: auto;

      }

  }

  @media only screen and (min-width: 1000px) {

      .apptCardInfo {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
      }
      .myUpcomingApptsHeader {
        margin-right: auto;
        margin-left: auto;
    }

    .viewAllButton {
        margin-right: auto;
        margin-left: auto;
    }

    .apptCardInfo {
        width: 1000px;
    }
    .apptCard {
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
    div.upcomingApptCard {
        width: 400px;
   }  

  }

 