.myUpcomingAppts{
    width: 380px;
}
.apptCardInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .apptCard {
    border-radius: 5px;
    border: 1px solid black;
} */

.upcomingApptCard {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(237, 247, 218)
}

.upcomingAppt {
    display: flex;
    flex-direction: row;
    height: 125px;
}
.apptCardListing {
    padding-left: 10px;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}



.apptCardButtons {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-top: 0px;
}


.apptCardButtonsList {
    width: 75px;
    margin: 5px;
}

.addApptLink {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.addApptLink:hover {
    cursor: pointer;
    color: green;
}

.apptCardButtonsListNotes {
    width: 75px;
}

.dropNoteContent {
    margin-left: 30px;
    width: 160px;
    text-align: center;

}

.dropNoteContent ul {
    padding: 5px;
    text-align: left;
}

.apptDate, .apptTime, .apptDoctor, .apptLocation, .apptPurpose {
    width: 150px;
    margin-bottom: 5px;
}

.apptDate:hover {
    cursor: pointer;
    color: green;
}

.viewAllButton {
    margin-top: 0px;
    margin-bottom: 20px;
}



.otherNotes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.upApptEdit {
    width: 100px;
}

.upApptEdit:hover {
    cursor: pointer;
}