
.App {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}


button {
  font-family: 'Manjari', sans-serif;
  cursor: pointer;
  font-size: 15px;
  border: transparent;
  box-shadow: 3px 5px #888888;
  color: rgb(43, 54, 77);
}

@media only screen and (max-width: 400px) {
  button {
    font-size: 10px;
    height: 15px;
  }
}


