
.App {
  font-family: 'Manjari', sans-serif;
  text-align: center;
  /* width: 380px; */
}

 .backgroundImage {
  background-image: url(../images/greenPills.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  margin: 0px;
}

button {
  font-family: 'Manjari', sans-serif;
  cursor: pointer;
  font-size: 15px;

}




