
.App {
  text-align: center;
  width: 320px;
}

.backgroundImage {
  background-image: url(./images/greenPills.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 300px;
  margin: 0px;
}




